.Home{
    height: 88.5vh;
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
   /* background-image: url(https://media.istockphoto.com/id/1407063872/vector/modern-abstract-background-with-black-gradient-abstract-black-business-background.jpg?s=612x612&w=0&k=20&c=6QftyGArm3LTpQsLw29DpZ9ZB42HMNK-wboAWyFZvto=);
    background-image: url(https://images.unsplash.com/photo-1663517768994-a65e6ab3a40a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YmxhY2t8ZW58MHx8MHx8fDA%3Dg);
    background-size: cover;
    background-position: center; */
}